<mat-toolbar color="primary">
  <span>Optimus</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<ng-container *ngIf="loading;else content">
  <div class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>




<ng-template #content>
    <div class="dashboard-wrapper">
      <div class="map-wrapper">
          <div #mapContainer id="map"></div>
      </div>
      <div class="routes-wrapper">
        <span class="titulo">Transportes Disponibles: </span>
        <div class="button-wrapper">
          <button mat-stroked-button color="primary" (click)="clusterize()">Clusterize</button>
          <button mat-stroked-button color="accent" (click)="routeToCenters()">Fastest</button>
          <button mat-stroked-button color="warn" (click)="calcRoute()">Calc Route</button>
        </div>

        <mat-selection-list #shoes [multiple]="false">
          <mat-list-option *ngFor="let trans of transports;let i = index" [value]="trans" (click)="drawTransportPoints(i)">
            {{trans}}
          </mat-list-option>
        </mat-selection-list>
        <div class="route-wrapper">
          <span *ngIf="rutaOptima">Ruta optima: {{rutaOptima}}</span>
        </div>
      </div>
    </div>



  <ng-template #errorTemplate>
    <div class="spinner-wrapper">
      <div class="error-msg">
        Api Error: Intentar otra ves?
        <button mat-fab  color="warn" (click)="initialState()">
          <mat-icon>sentiment_very_dissatisfied</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</ng-template>

